<div class="card">
    <div class="card-body bg-secondary"> 
    <h1 class="text-light"><span class="fas fa-envelope"></span> SMS Auth</h1>
  
    <label for="phone" class="text-light"><span class="fas fa-phone-alt text-light"></span> Telefono</label><br>
    <input type="text" [(ngModel)]="phoneNumber"  class="form-control" >
   
  
    <div id="recaptcha-container"></div>
  
    <button class="btn btn-lg btn-info mt-4" (click)="sendLoginCode()">Enviar SMS</button>
  
    <div *ngIf="windowRef.confirmationResult">
      <hr>
      <label for="code">Enter your Verification Code Here</label><br>
      <input class="form-control" type="text" name="code" [(ngModel)]="verificationCode">
  
      <button class="btn btn-lg btn-info mt-4" (click)="verifyLoginCode()">Verify</button>
    </div>

    <button (click)="get_test()" class="btn btn-lg btn-dark mt-4" >Click para probar la autenticacion con ruta protegida</button>
</div>
  </div>
 