<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Autenticacion con firebase TUL
        </a>
        <a class="ml-3 bg-white p-2" routerLink="/login/google"> Login Google</a>
        <a class="ml-3 bg-white p-2" routerLink="/login/email"> Login Email</a>
        <a class="ml-3 bg-white p-2" routerLink="/login/sms"> Login SMS</a>
     
        

      </nav>
      
      <div class="container" style="height:1300px;">
          <div class="row mt-5 pt-5">
            
              <div class="col-md-6 offset-md-3 text-center">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>   
</body>
</html>