<div class="container">  
    <div class="row">
        <div class="col-md-12 text-center">
            
            <mat-card>
                <mat-card-title> FORMULARIO DE VALIDACIÓN</mat-card-title>
                <mat-card-subtitle>Identificate para continuar</mat-card-subtitle>
            <form class="form" [formGroup]="loginGroup">
                <mat-form-field>
                    
                    <label>Email</label>

                    <input matInput formControlName="email" />
                    
                </mat-form-field>    
                <br>    
                <mat-form-field>
                    <label> Contraseña</label>
                    <input type="password" matInput formControlName="pass" />
                </mat-form-field>
                <mat-error *ngIf="loginGroup.controls.email.hasError('required')">
                    El nombre de usuario es obligatorio

                </mat-error>

                <mat-error *ngIf="loginGroup.controls.email.hasError('email')  && !loginGroup.controls.email.hasError('required')">
                    El formato del correo es incorrecto

                </mat-error>
                {{loginGroup.controls.remember_me.value}}

                <mat-error *ngIf="loginGroup.controls.pass.hasError('required')">
                    Por favor introduzca la contraseña
                </mat-error>
                <mat-checkbox formControlName="remember_me"> Recuerdame </mat-checkbox>
                
                <br>
                {{mensaje_error}}
                <a routerLink="/register">Registrarme</a>        
                <br>
                <button mat-raised-button color="accent" (click)="validar()">Enviar</button>
            </form>
        </mat-card>      
        
        <button (click)="get_try()">Probar peticion despues de autorizar</button>
        
         </div>
        </div>
</div>




