

    <div class="card m-5 bg-secondary text-white">
<div class="card-body">
    <h3>Google Authentication</h3>
    <button class="btn btn-lg btn-dark text-info mb-4" (click)="auth.googleSignin()">
        <span class="fab fa-google"></span> Conectar con google
    </button>
    
    <button class="btn btn-lg btn-dark text-info" (click)="httpTest()">Peticion de prueba a ruta protegida</button>

    
</div>
        </div>




